@model UserAuthApp_MVC.Models.Product

@{
    ViewData["Title"] = "Add Product";
}

<h1>Add product</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name">Tên sản phẩm</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Giá</label>
        <input asp-for="Price" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Mô tả</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity">Số lượng</label>
        <input asp-for="Quantity" type="number" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>
